* {
    padding: 0px;
    margin: 0px;
}

.main{
    background-color: aqua;
    height: 100vh;
    display: flex; 
    flex-direction: column;

}

.top{
    background-color: red;
    display: flex;
    flex: 0.1;

}

.topleft{
    background-color: chocolate;
    display: flex;
    flex: 0.4;
    justify-content: center;
    align-items: center;
}

.topright{
    background-color: rgb(24, 24, 95);
    display: flex;
    flex: 0.6;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    
}

li{
    display: inline;
}

.header{
    font-style: italic;
    background-color: cadetblue;
    text-align: center;
}

.opr{
    flex-direction:row;
    
}

.bt{
    padding: 3px;
    margin: 10px;
    width: 30%;
    height: 10%;
    align-self: center;
    border-radius: 10px;
    background-color: cornflowerblue;
    color: cyan;
    cursor: pointer;
    border:none ;
    outline: none;

}

.bt:hover{
    background-color: white;
    color: red;

}

.bottom{
    background-color:blue;
    display: flex;
    flex: 0.9;

}

.bottomleft{
    background-color:yellow;
    display: flex;
    flex: 0.6;
    flex-direction: column;

}

.bottomright{
    background-color:green;
    display: flex;
    flex: 0.4;
    justify-content: center;
    align-items: center;
}

img{
    width: 80%;
    height: 70%;
    
    
}

ul {
    padding: 40px;
    margin: 20px;
    
}

li { 
     list-style-type: none;
     padding: 20px;
}

@media screen and (max-width:570px){

    .top {
        background-color:pink;
        display: flex;
        flex: 0.2;
        flex-direction: column;
    }

    .bottom{
        background-color:yellow;
        display: flex;
        flex: 0.8;
        flex-direction: column;
    }
    

    .topleft {
        background-color:hotpink;
        display: flex;
        flex: 0.5;
        flex-direction: column;
    }

    .topright {
        background-color:pink;
        display: flex;
        flex: 0.5;
        flex-direction: column;
    }

    
}